/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */


html, body{height:100%;}
body{
      height:100%;
       width:100%;
    background-image:url('../images/background5.jpg');
  }

#container{position:absolute;
           width:100%;
           height:100%;}



table {font-weight:bold;
    color:black;
    font-size:16px;
    right:150px;
    background-color:#FFF;

}

td {
    border:.1em;
    border-style: solid;
}
textarea {
    font-size:18px;}

label {
    color:#1C140D;
    font-weight:bold;
    font-size:10px;
    text-transform:uppercase;
}
.initial{
    margin-top: 3em;
}
/* spry div */

/* header div */
#Eureka{
    margin-top:1em;
    margin-left:25%;
    margin-bottom:.5em;
    border:none;
    width:100%;


}
.base{ position:absolute;
    width:80%;
    margin-top:-1em;
    margin-left:10%;
    margin-right:3%;
    margin-bottom:2em;
    background-color:white;
    border-radius:20px;


}

#questions_div{position:relative;
              float: left;
              margin-left:1%;
              margin-bottom:5em;
              margin-right:1%;
              text-transform:uppercase;
              }
#questions_div a {color:black;
                  vertical-align:top;}
#questions_div textarea{background-color:#BF9692;}


 #comments_table{}
 #comments_div table tr > td {text-transform:uppercase;
                              }

#comments_div textarea {background-color:#BF9692;}
#comments_div a { color:black;
                 }

.text_area_f{width:400px;
             height:100px;}
#edit_div{
          margin-left:10%;

         }
#edit_unsigned{ font-size:1.25em;
    color:black;
    text-transform:uppercase;
}



#stats { position:relative;
         float:left;
         margin-left:10em;
         margin-top:15%;
         font-size:1.25em;
         color:blue;
         height:8em;
         width:8em;
         border-radius:10px;
         text-align:center;
         text-decoration:underline;
}

#stats a {color:blue;

          }



.textfield { color:#B2B2AD;}

#video_place{ position:relative;
              float:right;
              margin-right:30%;
              margin-left:10%;

              margin-bottom:10em;


             }


.field  {margin-left:-8%;

        }
.report_field{
    margin-left:-9%;
}
.video_title { text-align:center;
              font-size:1.25em;
              font-weight:bold;
              text-transform:uppercase;
              background-color:whitesmoke;
              font-family:comic sans MS, ROMAN;
              color:darkmagenta;
}

.field label {font-size:1em;
              color:black;
              text-transform:uppercase;
              margin-left:2%;
}

.field textfield{text-align:center;}

.actions1{ margin-left:40%;
          margin-top:15%;
          font-size:1.5em;}


#index_div{ position:relative;
    float:right;
    margin-right:10em;
    background-color:darkgray;
}

#index_div table tr td {text-transform:uppercase;
                        color:darkmagenta;
                        font-family:comic sans MS, ROMAN;
                        padding-top:2px;
                        padding-bottom:2px;
                        background-color:white;
                        border-color:gray;
                       }

#index_div table th { text-transform:uppercase;
                      color:#413D3D;
                      font-family:san-serif;
                      padding-top:2px;
                      padding-bottom:2px;
                      background-color:white;

}

#index_div a:link { color:gray;}



#index_text{
    width:32em;
    color:black;
    margin-left:12%;
    margin-top:1em;
    }

#index_newProduct{ float:right;
                   margin-right:3em;



}
#index_text p { font-size:1.1em;}
#index_text h2{ text-align:center;}
#index_lightbulb{margin-top:0em;
    margin-left:2.5em;}

/*css for video upload page */
#new_image{position:relative;
           float:left;}
/*-----------------show all user products---------------------------------------------*/
#show_user_div1 {
    margin-left:30%;
}
#comment{color:#606048;
    border:none;
}
#question{color:black;
    border:none;
}
#answer{color:#601848;
    border:none;

}
#url {color:#8a2be2;
    text-align:center;
    text-transform:uppercase;
    border-color:gray;
    background-color:#E8F3F8;


}


#background_report{  background-image:url('../images/parchment.jpg');
                     background-size: 100% auto;
                      background-repeat:no-repeat;
                      margin-left:5em;
                      margin-right:5em;

}


.user_table{border:none;
    background-color:white;
}




#li_product {text-transform:uppercase;
             list-style:none;
             text-decoration:underline;
             font-weight:bold;}

.li_other  {text-transform:uppercase;
           list-style:none;
           }


/*-----------------Edit user profile--------------------------------------------*/
#user_edit label { color:Black;
                   text-transform:uppercase;
                   font-size:12px;

}
#user_edit h1{ margin-left:12em;
    color:white;
    text-transform:uppercase;
    font-size:14px;
}
#user_edit { margin-left:8em;}
#shower { margin-left:30em;}

a:link{color:white;}

a:hover{background-color:#26ADE4;}

 #reg_position{ margin-left:20%;}
/*-----------------New Session--------------------------------------------*/
#session_login {margin-left:20%;}

/*.button{ color:white;
    text-transform:uppercase;
    font-size:12px;
}  */

.session_new { font-size:.9em;
               color:gray;
              }

.new_path {color:white;
                margin-left:0%;}

#session_image{margin-left:25%;
    margin-top:5%;
    margin-bottom:10%;
}

/*----------------------Contact Details --------------------------------*/

#contact_div { margin-top:10%;
    text-align:center;
    color:white;}

/*-------------------------------------------Static pages ----------------------*/
#static_image{
    margin-top:10em;
    margin-left:25em;
}
/*----------------------------Show Product Page ---------------------------------*/
#show_questions{ position:relative;
                float:left;
                margin-top:1em;
                margin-left:43%;
                color:#484BA1;
                }

#show_comments { float:left;
                margin-left:30%;
                margin-right:10%;
                color:#484BA1;}

#show_summary{ float:left;
               margin-left:30%;
               margin-right:15%;
               margin-top:2%;
               color:#484BA1;}


 #table_summary tr td{ font-family:comic sans MS, ROMAN;
                           border-color:gray;
                           min-width:150px;}

.summary{text-transform:uppercase;
    color:#8a2be2;
    background-color:#E8F3F8;
    text-align:center;
    font-family:comic sans MS, ROMAN;

}

#Report_heading{ font-family:comic sans MS, ROMAN;
                  color:#8a2be2;
                  text-align:left;
                  margin-left:35%;
                  border-bottom:10em;}
#show_tableQA tr td
{
    font-family:comic sans MS, ROMAN;
    border-color:gray;
    min-width:458px;

}
 #add_question{min-width:410px;}
#add_comments{min-width:410px;}
#comments_table tr td{
                     font-family:comic sans MS, ROMAN;
                      border-color:gray;
                      min-width:458px;
}
.show_table1 {}

.show_table1 tr td{ font-family:comic sans MS, ROMAN;
                    border-color:gray;
                    min-width:150px;

}
#show_customer{ color:#484BA1;
               float:left;
               margin-left:30%;
}
#show_customer, table, tr, td {border-color:black;}
#show_questions, table, tr, td {border-color:black;}

#show_links{ float:left;
             margin-left:5%;
             margin-bottom:5%;
             margin-right:60%;}

.show_row1 {color:black;}


#answer_border{ border-top:none;

}

#show_summary tr td {text-align:center;}
