/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */
html, body{height:100%;}
body{

  background-image:url('../images/silkBackground.jpg');
   background-size: 100%;
    padding-top:0px;
}

#container{position:relative;
           width:100%;
           height:100%;}

#center { position:relative;
    margin-left:16%;
    margin-right:10em;
    margin-top:1em;
    margin-bottom:1em;

   /* width:60em;   */
    background-color:#7E8081;
    border-radius:30px;


}
table {font-weight:bold;
       color:#6B0103;
       font-size:16px;
       left:150px;
       background-color:#FFF;
    /*   background-image:url('../images/bath.jpg'); */
}
textarea {
           font-size:18px;}

 label {
        color:#1C140D;
        font-weight:bold;
        font-size:16px;
 }
.initial{
    margin-top: 3em;
}
/* spry div */
#apDiv1 {
    position:absolute;
    width:1400px;
    height:40px;
    z-index:1;
    left: 3px;
    top: 73px;
    background-color: #FFF;
}
/* header div */
#Eureka{
         margin-top:1em;
         margin-left:18%;
         margin-bottom:.5em;
         border:none;
         width:100%;


}
.base{ position:relative;

    margin-top:-1em;
    margin-left:3.5%;
    margin-right:3%;
    margin-bottom:2em;
    background-color:#6B0103;
    border-radius:20px;




}

#edit_div{

    margin-left:50px;
}

.textfield { color:#B2B2AD;}

 #video_place{ margin-left:20%;}


.field  {margin-left:26%;

             }


.field label {font-size:1em;
              color:GrayText;
              text-transform:uppercase;
              margin-left:10%;
}

.field textfield{text-align:center;}


#index_div{ position:relative;
            float:right;
            margin-right:10em;
            }
#index_text{

             width:32em;
             color:white;
             margin-left:4em;
             margin-top:1em;
             background-color:#520000;}

#index_newProduct{ float:right;
                   margin-right:3em;

                   }
#index_text p { font-size:1.1em;}
#index_text h2{ text-align:center;}
#index_lightbulb{margin-top:10em;
                 margin-left:4em;}

/*css for video upload page */
#new_image{margin-top:5em;
           margin-left:12em;}
/*-----------------show all user products---------------------------------------------*/
#show_user_div1 {
                 margin-left:12.5em;
                }
#comment{color:#606048;
         }
#question{color:#050505;
          border-style:dashed;
         }
#answer{color:gray;

        }
#url {color:#6B0103;
      text-align:center;
      text-transform:uppercase;

      }
/*-----------------Edit user profile--------------------------------------------*/
#user_edit label { color:white;
                   text-transform:uppercase;
                   font-size:12px;

                  }
#user_edit h1{ margin-left:12em;
               color:white;
              text-transform:uppercase;
              font-size:14px;
}
#user_edit { margin-left:8em;}
#shower { margin-left:10em;}

/*-----------------New Session--------------------------------------------*/

#session_new label { color:white;

                     text-transform:uppercase;
                     font-size:12px;

                   }
.button{ color:white;
         text-transform:uppercase;
         font-size:12px;
      }

#session_new p {color:white;
                margin-left:35%;}

#session_image{margin-left:20%;
               margin-top:10%;
               margin-bottom:10%;
}

/*----------------------Contact Details --------------------------------*/

#contact_div { margin-top:10%;
               text-align:center;
               color:white;}

/*-------------------------------------------Static pages ----------------------*/
#static_image{
               margin-top:10em;
               margin-left:25em;
}