@import "bootstrap";

#comments_div a:link{
                     font-family:Sans-serif;
                     color:black;
                     font-size:10pt;}

#comments_div a:hover {background-color:white;}

#questions_div a:link{
  font-family:Sans-serif;
  color:black;
  font-size:10pt;}

#questions_div a:hover {background-color:white;}

#index_div table td a:hover{color:#26ADE4;}