

  <p>

  <%= f.text_area  :content, :cols=>35, :rows=>4, :readonly=>true %>
  </p>
   <br />
  <%=   link_to_add_fields "Add Answer", f, :answers %> <br />

<%= f.fields_for :answers do |builder| %>

    <%= render 'answer_fields', :f => builder %>

   <%end%>





