<p>

  <%= f.label :content, "Answer" %>
  <%= f.text_field :content, :class =>"textfield", :readonly => true, :cols=>40, :rows=>2%>
  <%= f.check_box :_destroy %>
  <%= f.label :_destroy, "Remove" %>

</p>
