

 <div id="index_div">
<table>
  <tr>
    <th colspan="2">Latest Videos</th>
    <th></th>
    <th></th>
    <th></th>
    <th></th>
  </tr>


<% @products.each do |product| %>
  <tr>
    <td><%=product.product_url%></td>
    <td><%= link_to 'View Video', edit_product_path(product) %></td>


  </tr>
<% end %>
</table>

<div id="index_newProduct">
   <%= link_to 'Upload Video', new_product_path %> <br/>
</div>
</div>
<div id="index_text">
<h2> Dedicated to Innovation</h2>
  <p>
    This site is dedicated to entrepreneurs wishing to promote innovative ideas and gauge
    market reaction through video presentation.
  </p>
  <p>
    This is an interactive website where members will comment on your product and may seek
    clarification, through questions, of product properties.
  </p>
  <p>
    Please view the videos by clicking the link in the "Latest Videos" table adjacent.
   </p>
  <p>
<div id="index_lightbulb">
    <%= image_tag "lightbulb.jpg" %>
  </div>
</div>




